spring:
  application:
    environment: test
  data:
    redis:
      password: ${REDIS_PASSWORD}
      sentinel:
        master: mymaster
        password: ${REDIS_PASSWORD}
        nodes:
          - digital-lommebok-redis-sentinel-node-0.digital-lommebok-redis-sentinel-headless:26379
          - digital-lommebok-redis-sentinel-node-1.digital-lommebok-redis-sentinel-headless:26379
          - digital-lommebok-redis-sentinel-node-2.digital-lommebok-redis-sentinel-headless:26379

vcverifier:
  siop2ClientId: demo-brukersted.test.eidas2sandkasse.net
  client-identifier-scheme: x509_san_dns
  authorization-request-url-scheme: eudi-openid4vp
  externalBaseUrl: https://demo-brukersted.test.eidas2sandkasse.net
