<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <div class="top-bar">
        <div class="top-bar__container">
            <div class="top-bar__left">
                <img class="top-bar__logo" th:src="@{/img/logo/logo-idporten.svg}" alt="Logo">
                <img class="top-bar__logo--mobile" th:src="@{/img/logo/logo-idporten-bare.svg}" alt="Logo">
            </div>
            <div class="top-bar__middle">
                <div class="top-bar__service-provider" th:text="#{header.top_bar.text}"></div>
            </div>
            <div class="top-bar__right">
                <div class="dropdowns">
                    <div class="dropdowns__opacity"></div>
                    <button class="dropdowns__toggle" aria-label="Meny"></button>
                    <div class="dropdowns__container">
                        <div class="dropdowns__title" th:text="#{header.lang.menu}"></div>

                        <nav class="dropdown dropdown--language">
                            <button
                                    class="dropdown__toggle"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    id="list"
                                    data-idp-toggle="dropdown"
                                    th:text="#{header.lang.title}"
                            >
                            </button>
                            <ul aria-labelledby="list" class="dropdown__list">
                                <li class="dropdown__item">
                                    <a th:href="@{/?lang=no}" th:lang="no" th:text="#{header.lang.no}"></a>
                                </li>
                                <li class="dropdown__item">
                                    <a th:href="@{/?lang=en}" th:lang="en" th:text="#{header.lang.en}"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
