<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="traces">
    <div class="accordion"
         id="traces">
        <th:block th:each="trace, status : ${traces}">
            <div class="accordion-item">
                <h2 class="accordion-header"
                    th:id="${'heading' + trace.id}">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            th:data-bs-target="${'#' + trace.id}"
                            aria-expanded="false"
                            th:aria-controls="${trace.id}">
                        <span th:remove="tag" th:text="${trace.description}"></span>
                    </button>
                </h2>
                <div th:id="${trace.id}"
                     class="accordion-collapse collapsed"
                     th:aria-labelledby="${'heading' + trace.id}"
                     data-bs-parent="#traces">
                    <div class="accordion-body" style="white-space: pre-wrap;" th:text="${trace.formatted}"></div>
                </div>
            </div>
        </th:block>
    </div>
</header>
