<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="nn">

<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="ID-porten NOKIOS VC Verifier demo">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/idp-style-0.7.27.css}" rel="stylesheet">
    <script th:src="@{/js/idp-script-0.7.27.js}" defer></script>
    <title>Demo verifisering av digitale bevis</title>
</head>
<body onload="doPoll()">
<header th:replace="~{fragments/header :: header}">...</header>

<main>
    <div class="box">
        <div class="box__body">
            <div class="notification notification--warning">
                <h1>Verifiser din alder</h1>
                <p>Du må være over 18 år for å bruke denne tjenesten.</p>
                <p>Scan qr-koden eller trykk på knappen for å åpne på mobilen.</p>
            </div>
            <div>
                <img th:src="@{/qrcode/alder/{state}(state=${state})}" alt="QR code" style="width:100%;"/>
            </div>
            <div class="btn-group">
                <a th:href="${authzRequest}"><button class="button ">Åpne på mobilen</button></a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}">...</footer>
</body>

<script th:inline="javascript">
    /*<![CDATA[*/
    const pollEndpoint = /*[[${responseStatusUri}]]*/ '';
    const successUri = /*[[${responseResultUri}]]*/ '';
    const successResponse = 200;
    const pollingInterval = 5000; //
    const maxPollingDuration = 300000; // 300 seconds (5 minutes) in milliseconds

    function doPoll() {
        pollApi(pollEndpoint, successResponse, pollingInterval, maxPollingDuration);
    }

    async function pollApi(apiEndpoint, successResponse, pollingInterval, maxPollingDuration) {
        const startTime = Date.now(); // Record the start time

        const makeRequest = async () => {
            try {
                const response = await fetch(apiEndpoint, {credentials: "same-origin"}); // Make request
                const data = await response;

                if (response.status === successResponse) {
                    console.log('Success response received:', data);
                    window.location.href = successUri; // Redirect to response page
                    return; // // Stop polling if success response
                }

                const elapsedTime = Date.now() - startTime;

                if (elapsedTime < maxPollingDuration) {
                    console.log('Polling again in', pollingInterval / 1000, 'seconds (status is ', );
                    setTimeout(makeRequest, pollingInterval); // Schedule next request
                } else {
                    console.log('Maximum polling duration reached. Stopping polling.');
                }
            } catch (error) {
                console.error('Error making API request:', error);
                const elapsedTime = Date.now() - startTime;

                if (elapsedTime < maxPollingDuration) {
                    setTimeout(makeRequest, pollingInterval); // Schedule next request
                } else {
                    console.log('Maximum polling duration reached. Stopping polling.');
                }
            }
        };

        await makeRequest(); // Start the first request
    }
    /*]]>*/
</script>

</html>
